.litegal {
	width: 100%;
	cursor: default;
}
.litegal-preview-outer {
	position: relative;
}
.litegal-preview {
	display: flex;
	align-items: space-around;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.litegal-preview-img {
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	flex-shrink: 0;
	object-fit: cover;
}
.litegal-active {
	position: relative;
}

.litegal-active-inner {
	display: flex;
	justify-content: center;
}

.litegal-control {
	font-size: 30px;
	color: #999;
	background-color: rgba(0, 0, 0, 0.2);
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
}
.litegal-control:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.litegal-arrow {
	position: absolute;
	margin: 0 10px;
	top: 50%;
	transform: translate(0, -50%);
	transform: rotate(180deg);
}

.litegal-arrow-right {
	right: 0;
	transform: rotate(0deg);
}

.litegal-lightbox-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	cursor: pointer;
}

.litegal-lightbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	max-height: 90%;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	cursor: default;
}

.litegal-lightbox-image {
	max-width: 100%;
	max-height: 100%;
}

.litegal-lightbox-exit {
	position: absolute;
	top: 10px;
	right: 10px;
}

.litegal-index {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 17px;
	color: #999;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
	cursor: default;
	user-select: none;
}
.litegal-index:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.litegal-index-active {
	cursor: pointer;
}

.hidden {
	display: none;
}

.litegal-no-images {
	text-align: center;
	margin: 20px;
	color: #999;
	font-style: italic;
}
